[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sympy = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pandas = "*"

[requires]
python_version = "3.6"
